<!DOCTYPE html>
<html>
<head>
  
    <!-- CSS e JavaScript do Bootstrap V4 Alpha -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css" type="text/css">

    <title>Programa Estatistico</title>

</head>
<body class="container text-center">
    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded rounded-bottom" style="background-color: rgb(148, 22, 17);">
            <a class="navbar-brand medium" href="#">EA</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link medium" href="/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link medium" href="/calculo">Cálculos Estatisticos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link medium" href="/correlacao">Correlação e Regressão</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link medium" href="/about">Sobre</a>
                        </li>
                    </ul>
            </div>
        </nav>

        <!-- Título da pagina principal -->
        <h1 class="display-3 m-5 light">Programa Estatistico</h1>

        <!-- Informações da proposta do programa -->
        <div class="jumbotron">
            <h1 class="display-5 light">PROPOSTA</h1>
            <br/>
            <p class="lead">Esse projeto é parte de uma metodologia implementada, baseada em projetos. Essa metodologia insere toda a organização de projetos e desenvolvimento para os alunos que inda não tiveram nenhum contato com programação.</p>
            <hr class="my-4" style="background-color: rgb(148, 22, 17);">
            <p>FATEC Franca - 3º Semestre | Professora Maria Luísa Cervi Uzun - Estatística Aplicada</p>
        </div>
</body>
</html>