<!DOCTYPE html>
<html>
<head>
  
    <!-- CSS e JavaScript do Bootstrap V4 Alpha -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css" type="text/css">

    <title>Sing UP - Daily UI #1</title>

</head>
<body class="container text-center" style="background-color: springgreen;">
    <div class="form-inline">
        <div class="col-2"></div>
        <div class="card my-card col-8 form-inline" style="margin-top: 5px; width: 100%; height: 50%; padding-top: 2.5%;">
            <h1 class="medium">Sing UP - Daily #1</h1>
            <a class="light">This is the form for the Daily UI Challenge, i hope everyone like it, thank you.</a>
            <a class="light" style="font-size: 10px;">* All fields are required.</a>
            <br>
            <form class="col-12">
                <div class="form-group col-12">
                    <label for="formGroupExampleInput" class="col-4">* First Name:</label>
                    <input type="text" class="form-control col-8" id="formGroupExampleInput" placeholder="First Name">
                </div>
                <br>
                <div class="form-group col-12">
                    <label for="formGroupExampleInput2" class="col-4">* Last Name:</label>
                    <input type="text" class="form-control col-8" id="formGroupExampleInput2" placeholder="Last Name">
                </div>
                <br>
                <div class="form-group col-12">
                    <label for="formGroupExampleInput2" class="col-4">* Nick:</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">@</div>
                        <input type="text" class="form-control col-8" id="inlineFormInputGroup" placeholder="Username">
                    </div>
                </div>
                <br>
                <div class="form-group col-12">
                    <label for="formGroupExampleInput2" class="col-4">* Email</label>
                    <input type="text" class="form-control col-8" id="formGroupExampleInput2" placeholder="name@server.com">
                </div>
                <br>
                <div class="form-group col-12">
                    <label for="formGroupExampleInput2" class="col-4">* Password</label>
                    <input type="text" class="form-control col-8" id="formGroupExampleInput2" placeholder="Password">
                </div>
                <br>
                <div class="form-group col-12">
                    <label for="formGroupExampleInput2" class="col-4">* Confirm Password</label>
                    <input type="text" class="form-control col-8" id="formGroupExampleInput2" placeholder="Confirm Password">
                </div>
                <br>
                <div class="form-group col-12">
                    <label for="formGroupExampleInput2" class="col-4">* Recovery email:</label>
                    <input type="number" class="form-control col-8" id="formGroupExampleInput2" placeholder="Recovery email">
                </div>
                <br>
                <div class="form-group col-12">
                    <div class="col-2"></div>
                    <button class="btn btn-warnig col-3">Clear</button>
                    <div class="col-2"></div>
                    <button class="btn btn-success col-3" style="background-color: springgreen; border-color: springgreen;">Submite</button>
                    <div class="col-2"></div>
                </div>
                <br>
            </form>
        </div>
        <div class="col-2">
    </div>

</body>

</html>